*{
    box-sizing: border-box;
}

header{
    font-size: 36px;
    text-align: center;
    background-color: blue;
    color: white;
    margin: 0;
    padding: 20px;

}

.left{
    font-size: 18px;
    text-align: right;
    background-color: white;
    margin: 0;
    width: 43%;
    float: left;
    height: 50px;
    padding-top: 10px;
}

.middle{
    font-size: 18px;
    text-align: center;
    background-color: white;
    margin: 0;
    width: 14%;
    float: left;
    height: 50px;
    padding-top: 10px; 
}

.right{
    font-size: 18px;
    text-align: left;
    background-color: white;
    margin: 0;
    width: 43%;
    float: left;
    height: 50px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: gray;
}

a:link{

}

a:visited{
    
}

a:active{
    text-decoration: underline;
}

a:hover{
    color: #000;
}

.division{
    width: 100%;
    height: 100%;
    background-color: teal;
}

aside{
    display: block;
    float: unset;
}

.about-me{
    color: blue;
    font-size: 36px;
    border-bottom: 5px solid dimgray;
    margin: 20px;
    padding: 10px;
    background-color: white;
    
}

.pic{
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 10px;
}
